[mysqld]
binlog-format = row
user = root
datadir = /mysql
pid-file = /var/run/mysqld.pid
port = 3306
socket = /run/mysqld/mysqld.sock
bind-address = 0.0.0.0
skip-name-resolve
local-infile = 0

#Logs errors
log-error = /var/log/mysqld-error.log

#Logs General
general-log = 1
general-log-file = /var/log/mysql.log

#Logs slow query
slow-query-log = 1
slow-query-log-file = /var/log/mysql-slow.log
long-query-time = 1

#Log bin
log-bin = /var/log/binary-logs/mysql-bin.log

#extern configuration
!includedir /etc/mysql/conf.d/

[mysqld_safe]
log-error = /var/log/mysql_safe-error.log

[client]
port=3306
socket = /run/mysqld/mysqld.sock
